<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Our Coaches - AquaUTM</title>
  <link href="/assets/style.css" rel="stylesheet">
</head>

<body class="body-a">
  <section class="members-section">
    <h2>Our Coaches</h2>
    <div class="members-grid">
      <div class="member-card">
        <img src="/images/coach.jpg" alt="Coach Low Xue Ting">
        <div class="member-info">
        <h3>Coach Low Xue Ting</h3>
        <p>
          A former competitive swimmer from Johor who won gold in ASEAN School Games. 
          She leveraged her athletic experience into founding a swim academy called EZY Swimming Academy in 2013, 
          with the vision to raise swimming standards in Johor, offering programmes from beginner to elite, 
          and achieving strong results both in volume (thousands of students) and performance (state and national level).
        </p>
        </div>
      </div>

      <div class="member-card">
        <img src="images/member2.jpg" alt="Coach Nabila">
        <h3>Coach Nabila</h3>
        <p>require more coach.....</p>
      </div>

    </div>
  </section>

</body>
</html>
